@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

.book.font-family-1 {
    font-family: 'Lato', sans-serif;
}

.book.font-family-0 {
  font-family: 'Quattrocento', serif;
}

.book .book-header, .book .book-summary {
    font-family: 'Lato', sans-serif;
}

.summary p{
  padding-left: 0.8em;
  padding-right: 0.2em;
}

.sched > col:nth-of-type(1) {
  width:11% !important;  
}

.sched > col:nth-of-type(2) {
  width:56% !important;  
}

.sched > col:nth-of-type(3) {
  width:33% !important;  
}
